body {
    color: #5A838F;
    background-color: #C2D4D9;
}

card {
    background-color: #C2D4D9;

}

.card-text {
    color: #8F7A67
}

.card-title {
    color: #25838F
}

.card-body {
    background-color: #F2FCFF
}

.message {
    text-align: center;
    text-emphasis-style: bold;
    color: #25838F
}

.error {
    text-align: center;
    text-emphasis-style: bold;
    color: maroon
}
.btn-primary{
    background-color:darkcyan;
    border-color: darkcyan;
    outline-color: darkcyan
}

#nav-bar {
    padding-left: 75px;
    padding-right: 75px;
}

a {
    color:darkcyan
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
 h2 {

    font-family: optima;
    text-align: center;
 }

 h3 {
    font-family: optima;
    text-align: center;
 }

