{% extends 'base.html' %}
{% block title %}Cat Ratings Home{% endblock %}

{% block body %}
  <h1>Welcome to the Cat Rater!</h1>
  <br>
  <h2>Where you get to rate the most boopable floofs!</h2>
  <br>
  <h3>To rate floofs <a href="login">log in</a> or <a href="/signup">sign up</a></h3>
  <br>

<div class="container">
  <div class="row row-cols-md-4 row-cols-sm-2 row-cols-1">
  {% for photo in photos_with_ratings %}
  <div class="col">
  <div class="card">
    <img src="{{photo['url']}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{photo['name']}}</h5>
      {% if (photo['rating'] is number) %}
      <p class="card-text">Rated {{photo['rating']}} out of 10! Submitted by: <a href="/users/{{photo['username']}}" class="card-link">{{photo['username']}}</a></p>
      </div>
      {% else %}
      <p class="card-text">This kitty has not been rated yet. Submitted by: <a href="/users/{{photo['username']}}" class="card-link">{{photo['username']}}</a></p>
      </div>
      {% endif %}
    <div class="card-body">
      <a href="/photos/{{photo['id']}}" class="card-link">Rate {{photo['name']}}</a>

    </div>
    </div>
    <br>
  </div>
  {% endfor %}
</div>
</div>
  <script src="cat_rater.js"></script>
{% endblock %}