{% extends 'base.html' %}
{% block title %}Cat Ratings Home{% endblock %}

{% block body %}
  <h1>Welcome to the cat rater!</h1>
  <br>
  <h2>Where you get to rate <u>the most boopable floofs!</u></h2>
  <br>
 <h3> Log In Below:</h3>
 <br>
 <div class-"wrap-form">
  <div style="text-align:center">
  <form action="/login" method="POST">
    <p>
    Email <input type="text" name="email">
    </p>
  <p>
    Password <input type="text" name="password">
  </p>
  <p>
    <input type="submit">
  </p>
 </form>
  </div>
</div>

{% endblock %}