{% extends 'base.html' %}
{% block title %} My Profile: {{user.username}} {% endblock %}
{% block body %}
<br>
<br>
<h1>Welcome {{user.username}}</h1> 

<div class="container">
  <div style="text-align:right">
    <h4>Add your next floof submission:</h4>
    <br>
      <form id="photo-upload" action="/myprofile/<username>" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="file" name="my-file" id="file">
            <br>
            <br>
            Tell us about this photo:
            <input type="text" name="text" id="photo-text">
            <br>
            <br>
            What is your pet's name?
            <input type="text" name="name" id="photo-name">
            <br>
            <br>
            <button class="btn btn-primary btn-sm" type="submit">Submit</button>
          </div>
      </form>
      </div>
          <br>
</div>

<h3>Your photos:</h3>
<br>
<div class="container">
  <div class="row row-cols-md-4 row-cols-sm-2 row-cols-1">
    {% for photo in photos_with_ratings %}
    <div class="col">
    <div class="card">
      <img src="{{photo['url']}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{photo['name']}}</h5>
        <p class="card-text">{{photo.text}}</p>
        {% if (photo['rating'] is number) %}
        <p class="card-text"><strong>Rated {{photo['rating']}} out of 10!</strong></p>
      </div>
        {% else %}
        <p class="card-text"><strong>This kitty has not been rated yet.</strong></p>
      </div>
        {% endif %}
          <div class="card-body">
            <form id="delete-photo" action="/delete" method="post">
              <input type="hidden" id="photo-id" name="photo-id" value="{{photo['id']}}">
              <button class="btn btn-primary btn-sm" type="submit" id="delete-button"><i class="fa fa-trash"></i></button>
            </form>
          </div>
        </div>
    <br>
    </div>
    {% endfor %}
  </div>
</div>
<br>


  <h3>Your ratings:</h3>
  <br>
  <br>
  <div class="row row-cols-md-4 row-cols-sm-2 row-cols-1">
    {% for rating in ratings %}
    <div class="col">
      <div class="card">
        <img src="{{rating.photo.url}}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{rating.photo.name}}</h5>
            <p class="card-text"><strong>Scored {{rating.score}} out of 10!</strong></p>
          </div>
      </div>
      <br>
    </div>
    {% endfor %}
  </div>

    <script src="cat_rater.js"></script>
    {% endblock %}