{% extends 'base.html' %}
{% block title %}Photo Details{% endblock %}

{% block body %}
 <h2>Photo Details</h2>
  <br>

  <div class="center-container">
    <div class="text-align:center">
        <div class="col">
          <div class="card">
          <img src="{{photo['url']}}" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{photo.name}}</h5>
            <p class="card-text">{{photo.text}}</p>
            <p class="card-text"><strong>Rated {{photo_rating}} out of 10!</strong></p>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <div class="center-container">
      <br>
    <h4>Ready to rate this cat?</h4>
    <div class="wrap-form">
      <form action="/photos/{{ photo.photo_id }}" method="POST" id="rating-form">
          <p>
          Enter a number between 1 and 10 
          </p>
          <input type="text" name="rating" id="rating-value">
          <br>
          <br>
        <button class="btn btn-primary btn-sm" type="submit">Submit</button>
      </form>
    </div>
  </div>
  
  
{% endblock %}