{% extends 'base.html' %}
{% block title %}Photo Details{% endblock %}

{% block body %}
  <h1>{{photo.name}}</h1>

  <div id="full-size-photo">
    <img src="/{{photo.url}}" height="512" width="360">
    <p>"{{photo.text}}" - {{photo.username}}</p>
    This cat has been rated out of 10!
  </div>
  <h3>Rate Photo:</h3>
  <p>Ready to rate this cat?</p>
  <form action="/photos/{{ photo.photo_id }}" method="POST">
    Enter a number between 1 and 10 <input type="text" name="rating">
    <p>
    <input type="submit">
  </p>

  </form>
  
  
{% endblock %}