{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block body %}
  <h1>Welcome to the cat rater!</h1>
  <br>
  <h2>Where you rate the most boopable floofs!</h2>
  <br>
  <h3>Search By:</h3>
  <br>
<div class="wrap-form">
  <div style="text-align:center">
    <form action="/search" method="POST">
        <select name="search" id="search-select">
          <option value="username">Username</option>
          <option value="pet-name">Pet Name</option>
        </select>
        <br>
        <br>
        <p><input type="text" name="search-text"></p>
        <br>
        <p><button class="btn btn-primary btn-sm" type="submit">Search</button></p>
    </form> 
  </div>
</div>



{% endblock %}