{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block body %}
  <h1>Welcome to the cat rater!</h1>
  <h2>Where you rate the most boopable floofs!</h2>
 <h3>Search By</h3>
 <form action="/search" method="POST">
  <select name="search" id="search-select">
    <option value="username">Username</option>
    <option value="user-email">User Email</option>
    <option value="pet-name">Pet Name</option>
  </select>
  <p>
    <input type="text" name="search">
  </p>
  <p>
    <input type="submit">
  </p>
 </form>

 <script src="cat_rater.js"></script>

{% endblock %}