{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block body %}
  <h1>Welcome to the cat rater!</h1>
  <h2>Where you rate the most boopable floofs!</h2>
  <br>
 <h3>Create your account below:</h3>
 <br>

  <div id="signup" style="text-align:center">
    <br>
        Email <input type="text" name ="email" id="signup-email">
    <br>
    <br>
        Password <input type="text" name="password" id="signup-password">
    <br>
    <br>
        Username <input type="text" name="username" id="signup-username">
    <br>
    <br>
      <button class="btn btn-primary btn-sm" id="signup-button" type="submit" style="text-align:right">Submit</button>
  </div>
{% endblock %}