{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block body %}
  <h1>Welcome to the cat rater!</h1>
  <h2>Where you rate the most boopable floofs!</h2>
  <br>
 <h3>Create your account below:</h3>
 <br>
 <div class="wrap-form">
  <div style="text-align:center">
  <form action="/signup" method="POST">
    <p>
        Email <input type="text" name ="email">
    </p>
    <p>
        Password <input type="text" name="password">
    </p>
    <p>
        Username <input type="text" name="username"
    </p>
    <p>
      <button class="btn btn-primary btn-sm" type="submit">Submit</button>
    </p>
  </form>
</div>
</div>
{% endblock %}