{% extends 'base.html' %}
{% block title %}View User Profile{% endblock %}

{% block body %}
  <h1>Welcome {{user.username}}'s cat rating page!</h1>

  <h3> Here are all {{user.username}}'s cat submissions</h3>
  {% for photo in photos_with_ratings %}
    <div id="all-photos">
    <img src="{{photo.url}}" height="256" width="180">
    This is {{photo.name}} Rated {{photo['rating']}} out of 10!
    <a href="/photos/{{photo['id']}}">Rate this floof here</a>
    </div>
  {% endfor %}
  <h3>Look at {{user.username}}'s ratings here:</h3>
  {% for rating in ratings %}
  <div>
    <img src="{{rating.photo.url}}" height="256" width="180">
    Scored {{rating.score}} out of 10.
  </div>
  {% endfor %}

  <script src="cat_rater.js"></script>

{% endblock %}