{% extends 'base.html' %}
{% block title %}View User Profile{% endblock %}

{% block body %}
  <h1>{{user.username | capitalize }}'s cat rating page!</h1>
  <br>
 
  <h3> {{user.username | capitalize }}'s cats:</h3>
  <div class="container">
    <div class="row row-cols-md-4 row-cols-sm-2 row-cols-1">
      {% for photo in photos_with_ratings %}
      <div class="col">
        <div class="card">
          <img src="{{photo['url']}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{photo['name']}}</h5>
              <p class="card-text">Rated {{photo['rating']}} out of 10!</p>
            </div>
            <div class="card-body">
            <a href="/photos/{{photo['id']}}" class="card-link">Rate {{photo['name']}}</a>
            </div>
        </div>
        <br>
      </div>
      {% endfor %}
    </div>

  </div>
  <br>

  <h3>{{user.username | capitalize }}'s ratings:</h3>
  <br>
  <div class="row row-cols-md-4 row-cols-sm-2 row-cols-1">
  {% for rating in ratings %}
  <div class="col">
    <div class="card">
      <img src="{{rating.photo.url}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{rating.photo.name}}</h5>
          <p class="card-text">Scored {{rating.score}} out of 10!</p>
        </div>
    </div>
    <br>
    </div>
    {% endfor %}
  </div>

</div>
  


  <script src="cat_rater.js"></script>
{% endblock %}